body{
    margin: 0;
    border: 5px solid red;
    display:grid;
    grid-template-columns:1fr 4fr;
}

#dashBoard{
   /* border: 5px solid green;*/
    background-color: #1992D4;
    color: white;
    font-size: 19px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;;
    display: flex;
    flex-direction: column;
    gap:5%;
}

#menuDisplay > div{
    /*border: 2px solid yellow;*/
    display: flex;
    padding-left: 5%;
    gap:5%;
    width: 100%;
    box-sizing: border-box;
    padding: 3%;
    margin-left: 5%;
}
        #logo{
            /*border: 5px solid orange;*/
            display: flex;
            padding-left: 5%;
            gap:5%;
            font-size: 25px;
            justify-content:left;
            align-items:center;
            padding: 3%;
        }

#menuDisplay{
    /*border: 5px solid orangered;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

#supportSettings{
    /*border: 5px solid orangered;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

        #supportSettings > div{
           /* border: 2px solid yellow;*/
            display: flex;
            padding-left: 5%;
            gap:5%;
            width: 100%;
            box-sizing: border-box;
            padding: 3%;
            margin-left: 5%;
}   

#profileContainer{
  /*  border: 5px solid blue;*/
    display: grid;
    grid-template-rows: 1fr 3fr;
    
}

#navBar{
   /* border: 5px solid greenyellow;*/
    background-color: ffffff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 2px 5px 4px #88888885;;
}

        #containerBuscador{
            /*border:5px solid rgb(32, 111, 32);*/
            display: grid;
            grid-template-columns: 2fr 1fr;
            justify-content: space-evenly;
            align-items: center;
        }


                #subContainer{
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    margin-left: -30px;
                    gap: 15px;
                }

                        input{
                            background-color: #e2e8f0;
                            width: 70%;
                            border: none;
                            height: 25px;
                            border-radius: 50px;
                        }


                #ContainerSubnav{
                    display: flex;
                    justify-content:right;
                    align-items: center;
                    gap: 25px;
                    margin-right: 50px;
                }

                        #nameProfile{
                            font-family:Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            font-size: 18px;
                        }

                      
                        #circleProfile > #simsLogo{
                            border-radius: 100%;
                        }

        #circleProfile{
            /*border:2px solid black;*/
            border-radius: 100%;
        }

        #containerProfile{
            /*border:5px solid rgb(102, 46, 99);*/
            display: grid;
            grid-template-columns: 2fr 1fr;
            margin-bottom: 15px;
        }

            #profileSpace{
                display: flex;
                justify-content: left;
                margin-left: 25px;
                align-items: center;
                gap: 25px;
            }

                    #textProfile{
                        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    }


            #butonsContainer{
                display: flex;
                justify-content: right;
                align-items: center;
                gap: 25px;
                margin-right: 20px;
            }

                    button{
                        background-color: #1992D4;
                        color: white;
                        border: none;
                        border-radius: 50px;
                        width: 75px;
                        height: 35px;
                        font-size: 16px;
                    }



#mainInfo{
    /*border:5px solid green;*/
}